* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  padding-top:80px;
}
.navbar {
  height: 80px;
  width: 100%;
  
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  background: rgba(10, 18, 35, 0.607);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom:1px solid rgba(87, 7, 7, 0.1);
  box-shadow:0 8px 30px rgba(0,0,0,0.3);
}
.logo {
  font-size: 18px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;

  background: linear-gradient(270deg,#7a5c97,#e784b5,#73b2ce,#9c6acb);
  background-size: 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 2px;
  cursor: pointer;

  animation: gradientMove 5s ease infinite;
  transition: 0.3s;
}


@keyframes gradientMove {
  0% { background-position: 0% }
  50% { background-position: 100% }
  100% { background-position: 0% }
}


.logo:hover {
  transform: scale(1.1);
  text-shadow: 0 0 15px #b0467b;
}
.nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  font-size:17px;
   font-family:"orbitron",sans-serif;
  
}

 .nav-link {
    text-decoration: none;
  background: linear-gradient(45deg,#b9a4bb,#290115);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   transition: all 0.6s ease;
} 
.nav-link:hover{
 transform: scale(1.2);
 background: linear-gradient(45deg,#d097d6,#2e061a);
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent;
 }
 .hamburger {
  display: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-left: auto;
  z-index: 1001;
}


@media (max-width: 768px){

  .hamburger {
    display: block;
  }
.logo{
  font-size:18px;
}

  .nav-items {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;

    background: rgba(10, 18, 35, 0.95);
    backdrop-filter: blur(15px);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    transform: translateX(100%);
    transition: 0.4s ease;
  }

  .nav-items.active {
    transform: translateX(0);
  } 
}
 

.hero {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 80px;
  height: 100vh;
  
min-height: 100vh;
  background:linear-gradient(rgba(1, 0, 0, 0.769), rgba(10, 1, 1, 0.735)),

  url("/project-sec.jpg"); 
  
 opacity:0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   
   min-height:100vh;
   color:white;
  
  padding:110px 10% 60px;
}
.left img {
  width: 250px;
  height: 300px;
  border-radius:50px;
  object-fit: cover;
  margin-left:-40px;
  object-position:top;
  border: 1px solid hsl(180, 6%, 7%);
  box-shadow: 0 0 29px #3f9093;
 animation: slideLeft 1.2s ease;
}

@keyframes slideLeft{
  from{
    opacity:0;
    transform: translateX(-120px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}
.right{
  max-width:100%;
  animation: slideRight 1.2s ease;
}

@keyframes slideRight{
  from{
    opacity:0;
    transform: translateX(120px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}
.left img:hover{
  transform: scale(1.05);
  transition:0.4s;
  box-shadow:0 0 20px #38bdf8;
}

.right p {
  font-size: 18px;
  line-height:1.2 ;
  margin:4px 0;
 color: #67e8f9;
  
}
.right h2 {
  font-size: 32px;
  margin:18px 0;
  color:rgba(255, 255, 255, 0.836);
  font-family: 'orbitron', sans-serif; 
}
.right h3{
margin:15px 0;
font-size:30px;
color: #67e8f9;
}
p.text{
  font-size:18px;
  color: #cbd5e1;
}
 .right span{
background:linear-gradient(rgb(43, 1, 43),rgb(84, 59, 2),rgb(158, 128, 7),rgb(122, 9, 122));
-webkit-background-clip:text;
color:transparent;
font-family:'Orbitron', sans-serif;
 text-shadow: 0 0 15px rgba(175, 16, 133, 0.6);
}


.social-icon {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.social-icon a {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(15, 23, 42, 0.8);

  color: rgba(236, 237, 241, 0.842);
  font-size: 18px;

  position: relative;
  overflow: hidden;

  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.social-icon a:hover {
  transform: translateY(-8px) scale(1.1);
  box-shadow: 0 0 25px #ec4899;
}
.social-icon a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(45deg,#a855f7,#ec4899,#38bdf8);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
  opacity: 0;
  transition: 0.3s;
}

.social-icon a:hover::before {
  opacity: 1;
}
@media (max-width:1021px){

  .hero{
    gap:50px;
  }
.right {
  max-width: 100%;
}

.right h2 {
  font-size:32px;
}
  .right h3{
    font-size:26px;
  }

  .right p{
    font-size:18px;
  }
.left img {
  width: 230px;
  height: 280px;
  border-radius:50px;
  object-fit: cover;
  margin-left:-40px;
  object-position:top;
  border: 1px solid hsl(180, 6%, 7%);
  box-shadow: 0 0 29px #3f9093;
 animation: slideLeft 1.2s ease;
}
}

@media (max-width:768px){

  .navbar{
    justify-content:center;
    padding:0 10px;
  }

  .nav-items{
    margin-left:0;
    gap:18px;
    font-size:16px;
  } 

  .hero{
    flex-direction:column;
    text-align:center;
    gap:40px;
  }
  .left {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .left img{
    width:220px;
    height:270px;
    
    margin-left: 0;       
    display: block;
    margin: 0 auto;       
  }
  

  .right{
    max-width:100%;
  }

  .right h2{
    font-size:34px;
  }

  .right h3{
    font-size:24px;
  }

  .right p{
    font-size:17px;
  }
  .social-icon{
    margin-top:10px;
  
    align-items:center;
    justify-content:center;
    gap:20px;
    
  }
  .social-icon a{
   font-size:13px;
   width:20px;
   height:20px;
  }
  

}



@media (max-width:600px){

  .navbar{
    height:70px;
  }

  .nav-items{
    gap:12px;
    font-size:13px;
  }
.hero{
    padding:100px 20px 40px;
  }

  .left img{
    width:180px;
    height:230px;
  }

  .right h2{
    font-size:28px;
  }

  .right h3{
    font-size:20px;
  }

  .right p,
  p.text{
    font-size:15px;
  }
.social-icon{
    margin-top:10px;
  
    align-items:center;
    justify-content:center;
    gap:20px;
    
  }
  .social-icon a{
   font-size:13px;
   width:20px;
   height:20px;
  }
}


@media (max-width:400px){

  .nav-items{
    gap:10px;
    font-size:12px;
  }

  .right h2{
    font-size:20px;
  }
  .left img{
    
  }
  .right p{
    font-size:10px;
  }
.social-icon{
    margin-top:10px;
  
    align-items:center;
    justify-content:center;
    gap:20px;
    
  }
  .social-icon a{
   font-size:13px;
   width:20px;
   height:20px;
  }
}
/* skill-page*/

.skill-tittle{
  padding-top:100px;
font-size:25px;
text-align:center;
font-family:'Orbitron',sans-serif;
position:relative;
background:linear-gradient(45deg,#facc15,#fb923c);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
text-shadow:0 0 10px rgba(255,180,0,0.6);
}





.skill-tittle span{
background:linear-gradient(45deg,#a855f7,#ec4899);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
.skill-tittle::after{
content:"";
position:absolute;
left:50%;
transform:translateX(-50%);
width:220px;
height:4px;
background:linear-gradient(90deg,#facc15,#ec4899);
border-radius:5px;

box-shadow:0 0 15px rgba(236,72,153,0.8);
}
 .text-reveal {
  opacity: 0;
  transform: translateY(50px);
  animation: revealUp 4s ease forwards;
}

@keyframes revealUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
.text-reveal {
  opacity: 0;
  transform: translateY(-50px) scale(0.9);
  filter: blur(0px);

  transition: 
    opacity 0.8s ease,
    transform 0.8s ease,
    filter 0.8s ease;
} 

 .text-reveal.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);


}
.skill-tittle::after {
  width: 0;
  transition: width 0.8s ease;
} */

.text-reveal.show::after {
  width: 220px;
} 
.tittle p{
  font-size:17px;
  font-family: 'Times New Roman', Times, serif;
  line-height:3;
  text-align:center;
  background:linear-gradient(rgb(161, 138, 5),rgb(48, 1, 34));
  -webkit-background-clip:text;
-webkit-text-fill-color: transparent;
}

.skills-grid{
display:grid;
grid-template-columns: repeat(3,1fr);
gap:30px;
max-width:1100px;
height:350px;
margin:auto;
}
.skill-card h3{
  font-family:"orbitron",sans-serif;
  font-size:20px;
}
.frontend{ color:#ff4d9d; }
.backend{ color:#ff7a18; }
.database{ color:#22c55e; }
.corecs{ color:#8e29ec; }
.skill-card h3{
  position:relative;
  display:inline-block;
  padding-bottom:8px;
}

 .frontend,.backend,.database,.corecs {
  position: relative; 
  display: inline-block;
  padding-bottom: 8px; 
}

.frontend::after,.backend::after,.database::after,.corecs::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;      
  width: 220px;
  height: 2px;
  background: linear-gradient(90deg,#facc15,#ec4899);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(236,72,153,0.8);
}


.frontend::before,.backend::before,.database::before,.corecs::before{
  content: "";
  position: absolute;
  bottom: 0;            
  left: -50px;            
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    #facc15,
    #ec4899,
    transparent
  );
  border-radius: 5px;
  box-shadow: 0 0 8px #facc15, 0 0 12px #ec4899; 
  animation: shineMove 2s linear infinite;
}


@keyframes shineMove {
  0% {
    left: -50px;      
  }
  100% {
    left: 220px;      
  }
}

 .skill-card::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:100%;
height:1px;
background:linear-gradient(90deg,#facc15,#fb923c,#ec4899,#facc15);
background-size:300% 100%;
animation:moveLine 3s linear infinite;
} 
.skill-card{
background:linear-gradient(rgb(119, 103, 143),rgba(0, 0, 0, 0.279));
backdrop-filter:blur(12px);

padding:30px;
border-radius:20px;

border:1px solid rgba(255,255,255,0.1);

box-shadow:0 10px 30px rgba(0,0,0,0.5);

transition:all 0.4s ease;
text-align:center;
opacity:0.5;

position:relative;
overflow:hidden;
}


.skill-icons{
display:grid;
grid-template-columns: repeat(2,1fr);
gap:20px;
margin-top:20px;
}

.skill-icons i{
font-size:45px;
}

.skill-icons p{
margin-top:8px;
font-size:15px;
}

.skill-items{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
margin-top:20px;
}

.skill-items span{
background:#3c5072;
padding:8px 14px;
border-radius:20px;
font-size:14px;
}



.skill-page {

  
 background:linear-gradient(rgba(1, 0, 0, 0.842), rgba(10, 1, 1, 0.811)),
 url("/project-sec.jpg"); 


  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}


.skill-tittle {
  padding-top: 100px;
  font-size: 25px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  background: linear-gradient(45deg, #facc15, #fb923c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 180, 0, 0.6);
}

.skill-tittle span {
  background: linear-gradient(45deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.skill-tittle::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 4px;
  bottom: 0;
  background: linear-gradient(90deg, #facc15, #ec4899);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.8);
}


.tittle p {
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 3;
  text-align: center;
  background: linear-gradient(rgb(161, 138, 5), rgb(48, 1, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  height: 350px;
}


.skill-card {
  background: linear-gradient(rgb(119, 103, 143), rgba(0, 0, 0, 0.279));
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
  text-align: center;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
}


.skill-card h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.frontend { color: #ff4d9d; }
.backend { color: #ff7a18; }
.database { color: #22c55e; }
.corecs { color: #8e29ec; }


.frontend, .backend, .database, .corecs {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.frontend::after, .backend::after, .database::after, .corecs::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 220px;
  height: 2px;
  background: linear-gradient(90deg, #facc15, #ec4899);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.8);
}

.frontend::before, .backend::before, .database::before, .corecs::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 50px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #facc15, #ec4899, transparent);
  border-radius: 5px;
  box-shadow: 0 0 8px #facc15, 0 0 12px #ec4899;
  animation: shineMove 2s linear infinite;
}


@keyframes shineMove {
  0% { left: -50px; }
  100% { left: 220px; }
}


.skill-card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #facc15, #fb923c, #ec4899, #facc15);
  background-size: 300% 100%;
  animation: moveLine 3s linear infinite;
}

@keyframes moveLine {
  0% { background-position: 0% 0%; }
  100% { background-position: 300% 0%; }
}
.skill-card:hover {
    background: linear-gradient(rgb(120, 93, 161), rgba(0, 0, 0, 0.279));
  transform: translateY(-10px) scale(1.03);
  opacity: 1;
  box-shadow: 0 15px 35px rgba(0,0,0,0.7);
  transition: all 0.5s ease;
}
.skill-card {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
  animation: floatCard 6s ease-in-out infinite;
}

.skill-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 35px rgba(0,0,0,0.7);
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.skill-icons i {
  font-size: 45px;
}

.skill-icons p {
  margin-top: 8px;
  font-size: 15px;
}


.skill-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.skill-items span {
  background: #3c5072;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}
@keyframes floatCard{
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-8px);
  }
  100%{
    transform:translateY(0px);
  }
}

.skill-card{
  animation:floatCard 6s ease-in-out infinite;
}
/* =================== Responsive Design =================== */

@media (max-width:1100px) and (min-width:800px) {
  

  .skills-grid { grid-template-columns: repeat(3, 1fr); gap: 20px; height: auto;padding-top:30px;padding-left:10px;padding-right:10px;}
  .skill-card { padding: 20px; opacity: 0.7; }
  .skill-tittle { font-size: 22px; padding-top: 100px; }
  .tittle p { font-size: 16px; line-height: 3; }
  .skill-card h3 { font-size: 18px; }
  .frontend::after, .backend::after, .database::after, .corecs::after { width: 180px; }
  .frontend::before, .backend::before, .database::before, .corecs::before { width: 40px; } 
}
 @media (max-width: 640px) and (min-width:250px) {
   .skills-grid { grid-template-columns:(1fr); gap: 10px; height:auto;padding-left:10px;padding-right:10px; } .skill-card { padding: 15px; opacity: 0.8; } .skill-tittle { font-size: 20px; padding-top: 90px; } .tittle p { font-size: 14px; line-height: 2; } .skill-card h3 { font-size: 16px; } .frontend::after, .backend::after, .database::after, .corecs::after { width: 140px; } .frontend::before, .backend::before, .database::before, .corecs::before { width: 30px; left: -30px; }  .skill-icons { grid-template-columns: (3fr,1); gap: 5px; } .skill-icons i { font-size: 30px; } .skill-icons p { nt-size: 12px; } }

@media (max-width: 768px){

  .skills-grid {
    grid-template-columns: 1fr;   

    padding: 20px;                
    max-width: 100%;
  }

  .skill-card {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
  }

  .skill-tittle {
    
    font-size: 18px;
    padding-top: 90px;
  }
  .skill-tittle::after{
    width:170px;
  }
  .tittle p {
  margin-top:10px;
    font-size: 12px;
    line-height: 1.5;
    padding: 0 15px;
  }

  .skill-icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .skill-icons i {
    font-size: 35px;
  }

  .skill-icons p {
    font-size: 13px;
  }
}
.skill-card {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  transition: all 0.6s ease;
}

.skill-card.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.skill-card:active {
  transform: scale(0.97);
}


/*project page css*/

.project{
   background:linear-gradient(rgba(1, 0, 0, 0.769), rgba(10, 1, 1, 0.735)),
 
 url("/project-sec.jpg");
 min-height:100vh;
 width:100%;
  opacity:0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
    overflow-x:hidden;
}
.project-header{
  text-align:center;
}
.project-tittle{
  padding-top:100px;
  text-align:center;
  font-size:25px;
  font-family:"Orbitron",sans-serif;

  background:linear-gradient(45deg,#58c519,#fdd00755);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;

position:relative;   
  display:inline-block;
}
.project-tittle::after{
content:"";
position:absolute;
left:50%;
transform:translateX(-50%);

width:130px;
height:3px;


background:linear-gradient(90deg,#58c519,#fdd007);
border-radius:5px;

box-shadow:0 0 12px #58c519;
}
.project-about{
  padding-top:5px;
  text-align:center;
   line-height: 2;
  color:rgba(255, 255, 255, 0.539);
  font-size:18px;
  font-family: 'Times New Roman', Times, serif;
}
.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
    max-width: 1100px;
    margin:0 auto;
  gap:3px;
  padding: 40px 20px;

}

 .project-card-new {
   background: #0f172a6a; 
  border-radius: 15px;
overflow:hidden;

  margin: auto;

 
    position:relative;
  z-index:1;
   opacity: 0;
  transform: translateY(60px) scale(0.95);
  transition: all 0.8s ease;
}

.project-card-new.show {
  opacity: 1;
  transform: translateY(0) scale(1);
   


}
.project-card-new.float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
.project-card-new::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
   padding: 1px;
 pointer-events: none;
  background: linear-gradient(
    120deg,
    transparent,
    #7aa3e7,
    #a855f7,
    #c8347e,
    transparent
  ); 

  background-size: 200% 200%;

  
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  animation: borderMove 3s linear infinite;
}
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.project-card-new::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 18px;

  background: linear-gradient(
    120deg,
    rgba(59,130,246,0.5),
    rgba(168,85,247,0.5),
    rgba(236,72,153,0.5)
  ); 

  filter: blur(10px);
  opacity: 0.4;
  z-index: -1;
}


.project-card-new img {
  width: 100%;
  padding:30px;
  height: 200px;
  object-fit: cover;
  border:1px dotted red;

}

.card-body {
 
  padding: 20px; 
  text-align: center;
}

.card-body h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  
  margin-bottom: 10px;
  
  background:linear-gradient(45deg,#a90593,#c4a416);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.card-body p {
  font-size: 10px;
  color: #ccc;
}


.teck-stack {
  display: block;
  margin: 10px 0;
  color:rgba(117, 143, 145, 0.703);
  font-size: 13px;
}


.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.card-buttons a {
  flex: 1;
  padding: 5px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 10px;
  color: white;
  background: linear-gradient(45deg,#a855f7,#ec4899);
  transition: 0.3s;
}

.card-buttons a:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg,#7423bf,#ba4580);
}

@media (max-width: 1200px) and (min-width: 900px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  gap:20px;
  }
}
@media (max-width: 768px) {
  .project-tittle{
    font-size:18px;
  }
  .project-tittle::after{
    width:90px;
  }
  .project-about {
    font-size:12px;
  }
  .project-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-card-new {
    transform: none !important; 
    animation: none !important;
  }
}

  
.certificate-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-direction: column;

  background: linear-gradient(rgba(1,0,0,0.7), rgba(10,1,1,0.7)),
              url("/project-sec.jpg");
  background-size: cover;
  background-position: center;
}


.certificate-content {
  text-align: center;
  width: 100%;
  max-width: 900px;
}


.certificate-content h1 {
  margin-top: 60px;
  font-size: 28px;
  background: linear-gradient(45deg,#ff4ecd,#00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Orbitron", sans-serif;
  position: relative;
  display: inline-block;
}

.certificate-content h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
  width: 190px;
  height: 2px;
  background: linear-gradient(90deg,#ff4ecd,#00f2fe);
  border-radius: 5px;
  box-shadow: 0 0 12px #58c519;
}



.certificate-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* padding:40px 20px; */
  height: 360px;
margin:50px auto;
  perspective: 1500px;
  transform-style: preserve-3d;
  
  
  border-radius: 20px;
  overflow: hidden;

  background:linear-gradient(45deg,#2a015169,#290115,#022534) border-box;
  box-shadow: 0 0 20px rgba(168,85,247,0.6),
              0 0 40px rgba(236,72,153,0.4);

  backdrop-filter: blur(15px);

 
}
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 60%;      
  height: 70%;

  opacity: 0;

  transform: translate(-50%, -50%) scale(0.85);
  transition: transform 0.6s ease, opacity 0.6s ease;

  will-change: transform;
  backface-visibility: hidden;
}


.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.7);
}


.activeSlide {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 3;

  filter: blur(0);

  box-shadow:
    0 0 30px #ec4899,
    0 20px 50px rgba(0,0,0,0.8);
}
.activeSlide:hover {
  transform: translate(-50%, -50%) scale(1.12) rotateY(5deg);
}
.activeSlide img {
  transition: transform 0.5s ease;
}

.activeSlide:hover img {
  transform: scale(1.1);
}

.prevSlide {
  opacity: 0.6;
  transform: translate(-120%, -50%) rotateY(25deg) scale(0.9);
  z-index: 2;

  filter: blur(2px) brightness(0.8);
}


.nextSlide {
  opacity: 0.6;
  transform: translate(20%, -50%) rotateY(-25deg) scale(0.9);
  z-index: 2;

  filter: blur(2px) brightness(0.8);
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;

  transition: 0.3s;
}

.nav-btn:hover {
  background: linear-gradient(45deg,#8b51c1,#c7578f);
  box-shadow: 0 0 15px #ec4899;
}

.left { left: 10px; }
.right { right: 10px; }


.cerfiticate-tittles h3 {
  margin-top: 25px;
  max-width: 300px;     
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis; 
top:-5px;
margin:10px auto;
  
  padding: 8px 10px;
  border-radius: 10px;

  background: linear-gradient(45deg,#a06a8b,#0496b0);
  color: white;

  box-shadow: 0 0 15px rgba(56,189,248,0.5);
}


@media (max-width:1200) and (min-width:900){
    .certificate-content{
      max-width:800px;
    }
    .certificate-container{
      max-width:800px;
      height:360px;
    }
    .slide{
      width:75%;
      height:80%;
    }
    .active-slide{
       transform: translate(-50%, -50%) scale(1.1);

    }
    .prevSlide {
    transform: translate(-120%, -50%) rotateY(20deg) scale(0.85);
  }

  .nextSlide {
    transform: translate(20%, -50%) rotateY(-20deg) scale(0.85);
  }

  .cerfiticate-tittles h3 {
    font-size: 15px;
    max-width: 260px;
  }
}
@media (max-width: 768px) {
   .certificate-content h1 {
    font-size: 18px;
  }

  .cerfiticate-tittles h3 {
    font-size: 18px;
    max-width: 220px;
  }
  
  .certificate-container {
    height: auto;               
    min-height: 260px;
    width: 95%;
    padding: 20px 0px;
    margin-top: 30px;
  }

  .slider {
    height: 240px;
  }
   .slide {
    width: 75%;
    height: 80%;
  }

  .activeSlide {
    transform: translate(-50%, -50%) scale(1);
  }

  .prevSlide,
  .nextSlide {
    display: none; 
  }
    .slide img {
    object-fit: contain;
    border-radius: 10px;
  }
  .nav-btn {
    padding: 4px 8px;
    font-size: 14px;
  }

  .left {
    left: 5px;
  }

  .right {
    right: 5px;
  }
}
@media (max-width: 480px) {
  
  .certificate-container {
    min-height: 200px;
  }

  .slider {
    height: 180px;
  }

  .slide {
    width: 70%;
  }

  .certificate-content h1 {
    margin-top:20px;
    font-size: 18px;
  }

  .cerfiticate-tittles h3 {
    font-size: 12px;
  }
  .nav-btn {
    padding: 4px 8px;
    font-size: 14px;
  }

  .left {
    left: 5px;
  }

  .right {
    right: 5px;
  }
}




/*contact-page css*/

.contact-page{
   background:linear-gradient(rgba(1, 0, 0, 0.927), rgba(10, 1, 1, 0.735)),
 
 url("/project-sec.jpg");
 
 opacity:0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}
.contact-header{
  text-align:center;
}



.contact-hero {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 40px;
}


 .contact-hero h1 {
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.685);
  font-family: "Orbitron", sans-serif;
background: linear-gradient(90deg, #a855f7, #ec4899, #facc15, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  display: inline-block;
  opacity: 0;
  opacity: 0;
  transform: translateY(-40px);
  animation: fadeDown 1s ease forwards;
} 
.contact-hero h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 2px;
  bottom: -10px;
  background: linear-gradient(90deg,#a855f7,#ec4899,#facc15,#22d3ee);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(236,72,153,0.8);
}

.contact-hero p {
  margin-top: 15px;
  font-size: 18px;
  color: #cbd5e1;

  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}


@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
    padding: 30px 20px 80px;  
  
  
  gap: 20px;
  flex-wrap: wrap;
}
.contact-left {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  
}
  
.contact-left h2{
  color:rgb(33, 223, 223);
  text-align:center;
  line-height:1.5;
  
}.contact-left p{
  text-align:center;
  color:rgba(255, 255, 255, 0.454);
}
.contact-links {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 25px;
  padding: 20px 0;
}

.contact-links a {
  background: linear-gradient(45deg,#1e293b,#0f172a);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.contact-links a:hover {
  transform: scale(1.2);
  background: linear-gradient(45deg,#8d65b1,#b5638c);
  box-shadow: 0 0 15px #ec4899;
}

.contact-right {
  flex: 1;
  min-width: 200px;
  max-height:320px;
}
.contact-right {
  color: white;
  padding: 30px;
  
  
  background: linear-gradient(rgba(0, 0, 0, 0.788),rgb(1, 1, 33)); 
  backdrop-filter: blur(15px);           
  -webkit-backdrop-filter: blur(15px);  
  opacity:0.9;
  border-radius: 20px;
  
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); 
  
  transition: 0.4s;
  margin-top: 0;       
  align-self: flex-start; 
}

.contact-right:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(236,72,153,0.5);
}
.contact-right h2{
  text-align:center;
  color:#26c9d1
 

}
.contact-right p{
  text-align:center;
  color:rgba(255, 255, 255, 0.621);
line-height:1.3;
margin-bottom:10px;
}
.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.05);
  color: white;
  text-align:center
}

.contact-right button {
  padding: 12px 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#a855f7,#ec4899);
  color: white;
  cursor: pointer;
  transition: 0.3s;
 display: block;     
  margin: 5px auto;  
}

.contact-right button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ec4899;
}
.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ending{
 margin-top: -30px;
 padding-bottom:40px;
 text-align:center;
}
.ending h4 {
  font-size: 25px;
   
  font-weight: bold;

  background: linear-gradient(90deg, #a855f7, #ec4899, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 2px;

 
  text-shadow: 0 0 10px rgba(168,85,247,0.6),
               0 0 20px rgba(236,72,153,0.6);

  
  opacity: 1;
  transform: translateY(40px);
  animation: thankFade 1.2s ease forwards;
  animation-delay: 0.5s;
}
@keyframes thankFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .contact-hero h1 {
    font-size: 18px;
  }

  .contact-hero p {
    font-size: 12px;
  }

  .contact-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }


  .contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;      
    text-align: center;
    min-height: 150px;  
    margin-bottom: 10px;       
  }


  .contact-left h2 {
    font-size: 15px;
  text-align:center;
  }

  .contact-left p {
    font-size: 10px;
    text-align:center;
  }

  .contact-links {
    gap: 15px;
  }

  .contact-links a {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .contact-right {
    padding: 30px;
    width: 100%;
  }

  .contact-right h2 {
    font-size: 18px;
  }

  .contact-right p {
    font-size: 10px;
  }

  .contact-right input,
  .contact-right textarea {
    padding: 15px;
    font-size: 14px;
  }

  .contact-right button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .ending h4 {
      margin-top:40px;
    font-size: 18px;
  }
}
